*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    
   margin-left: 35vw;
    margin-top: 40vh;
    border: 1px solid yellow;
    padding: 30px;
    display: inline-block;
    background-color: darkgreen;
    border-radius: 40px;
    width: 600px;
    height: 130px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: red;
}