body{
   background-color: #643843;
}



.button{
  width: 240px;
  height: 40px;
  
  margin-left: 40vw;
  background-color: #8B1874;
  border-radius: 30px;
  color: white;
}
 

/* .box2{
    transition: transform .2s;
  }
  
  .box2:hover {
    transform: scale(1.2);
  } */